In [39]:
import pandas as pd

import numpy as np

import seaborn as sns

import matplotlib.pyplot as plt

#%matplotlib inline

#plt.rcParams['figure.figsize'] =(6,8)

#plt.rcParams['font.size']=14

train = pd.read_csv("train.csv")

test = pd.read_csv('test.csv')

train['source']= 'train'

test['source'] = 'test'

titanic = pd.concat([train,test],ignore_index= True)

#titanic.head()

titanic['Age']=titanic['Age'].fillna(titanic.Age.median())

titanic.Embarked = titanic.Embarked.fillna(titanic.Embarked.value_counts().index[0])

titanic["Sex_"] = np.where(titanic.Sex =="male",1,0)

titanic["Embarked_"] = np.where(titanic.Embarked =="C",1,np.where(titanic.Embarked =="Q",2,3))

#Divide into Original form
train = titanic.loc[titanic['source'] == "train"]

test = titanic.loc[titanic['source'] == "test"]

from sklearn.linear_model import LogisticRegression
import sklearn.ensemble as ske
from sklearn import svm


feature_cols = ["Age","Sex_","Pclass"]

X_train = train[feature_cols]

Y_train = train.Survived

X_test = test[feature_cols]

#randreg = ske.RandomForestClassifier(n_estimators=100)
#randreg.fit(X_train, Y_train)

#svmclf = svm.SVC(kernel='poly', gamma=3)
#svmclf.fit(X_train, Y_train)



logreg = LogisticRegression()

logreg.fit(X_train, Y_train)
#Y_log_pred = randreg.predict(X_test)

#Y_log_pred = svmclf.predict(X_test)

Y_log_pred = logreg.predict(X_test)
Y_log_pred_int = Y_log_pred.astype(int)


#acc_log = round(svmclf.score(X_train,Y_train)*100,2)
#acc_log = round(randreg.score(X_train,Y_train)*100,2)
acc_log = round(logreg.score(X_train,Y_train)*100,2)



submission = pd.DataFrame({ "PassengerId": test["PassengerId"], "Survived": Y_log_pred_int })

submission.to_csv('submission4.csv', index=False)

In [40]:
submission.head()

     PassengerId  Survived
891          892         0
892          893         0
893          894         0
894          895         0
895          896         1

In [41]:
acc_log

79.689999999999998

In [42]:
np.shape(Y_log_pred)

(418,)

In [43]:
Y_log_pred_int

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0,
       1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0])

In [44]:
acc_log

79.689999999999998

In [45]:
train.head()

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,source,Sex_,Embarked_
0,22,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0,A/5 21171,train,1,3
1,38,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1,PC 17599,train,0,1
2,26,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1,STON/O2. 3101282,train,0,3
3,35,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1,113803,train,0,3
4,35,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0,373450,train,1,3

In [46]:
acc_log

79.689999999999998

In [ ]:
acc_log.head()